<header>
  <nav class="navbar navbar-light bg-white px-3">
    <app-offcanvas></app-offcanvas>
    <a class="navbar-brand me-auto">ALURAPIC</a>
    <div *ngIf="user$ | async as user; else login">
      <!-- async pipe eu consigo pegar o valor da emissão desse observable -->
      <i class="fa fa-user-circle me-1"></i>
      <span class="me-4">{{ user.name }}</span>
      <button class="btn btn-danger" (click)="logout()">Sair</button>
    </div>
    <ng-template #login>
      <a [routerLink]="['']" class="navbar-text">Faça o login</a>
    </ng-template>
  </nav>
  <div class="fixed-top alert p-0">
    <app-alert></app-alert>
  </div>
</header>