<div class="container">
  <form [formGroup]="photoForm" class="row" (submit)="upload()" autocomplete="off" novalidate>
    <div class="col-md-6 text-center">

      <div class="input-group" *ngIf="!preview; else previewImage">
        <button type="button" (click)="fileInput.click()" class="btn btn-primary">
          <i class="fa fa-image fa-4x align-middle"></i>
        </button>
        <input #fileInput hidden type="file" accept="image/*" formControlName="file"
          (change)="handleFile($event.target.files[0])">
        <invalid-feedback [field]="f['file']"></invalid-feedback>
      </div>
      <ng-template #previewImage>
        <div class="text-center">
          <app-photo [url]="preview" title="preview">

          </app-photo>
        </div>
      </ng-template>
    </div>

    <div class="col-md-6">
      <div class="input-group">
        <textarea class="form-control form-control-sm" placeholder="photo description"
          formControlName="description"></textarea>
        <invalid-feedback [field]="f['description']"></invalid-feedback>
      </div>

      <div class="input-group">
        <label class="text-muted">
          Allow comments
          <input type="checkbox" formControlName="allowComments">
        </label>
      </div>
      <div class="col-12" *ngIf="!percentDone; else percent">
        <button type="submit" class="btn btn-primary btn-block" [disabled]="photoForm.invalid">
          Upload
        </button>

        <a class="btn btn-secondary btn-block" [routerLink]="['']">Cancel</a>
      </div>
      <ng-template #percent>
        <div class="text-center mt-4">
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Basic example" aria-valuenow="{{percentDone}}" aria-valuemin="0" aria-valuemax="100" [style.width]="percentDone + '%'">{{percentDone}}%</div>
          </div>
        </div>
      </ng-template>
    </div>
  </form>
</div>