<h4 class="text-center"> Registre-se</h4>
<form [formGroup]="signupForm" class="need-validation mt-4" (submit)="signup()" autocomplete="off" novalidate>
	<div class="row px-3">
		<div class="col-12 mx-auto">
			<div class="input-group my-2">
				<input placeholder="E-mail" class="form-control rounded-3" formControlName="email">
				<invalid-feedback [field]="f['email']"></invalid-feedback>
			</div>
			<div class="input-group my-2">
				<input placeholder="Nome Completo" class="form-control rounded-3" formControlName="fullName">
				<invalid-feedback [field]="f['fullName']"></invalid-feedback>
			</div>
			<div class="input-group my-2">
				<input placeholder="Nome de usuário" class="form-control rounded-3" formControlName="userName">
				<invalid-feedback [field]="f['userName']"></invalid-feedback>
				<div *ngIf="signupForm.get('userName').valid" class="d-block valid-feedback">Usuário disponível</div>
			</div>
			<div class="input-group my-2">
				<input type="password" placeholder="Senha" class="form-control rounded-3" formControlName="password">
				<invalid-feedback [field]="f['password']"></invalid-feedback>
			</div>
			<div class="input-group mb-2">
				<button type="submit" [disabled]="signupForm.invalid || signupForm.pending" class="btn btn-primary ms-auto">Registrar</button>
			</div>
			<p class="text-center">Já é um usuário? <a [routerLink]="['']">Login</a></p>
		</div>
	</div>
</form>