<div class="overflow-auto h-50" *ngIf="(comments$ | async) as comments">
	<ul class="list-unstyled">
		<li *ngFor="let comment of comments">
			<a class="text-dark font-weight-bold me-1" [routerLink]="['/user', comment.userName]">{{ comment.userName }}</a>
			<em>
				{{ comment.date | date:'dd-MM-yyyy HH:mm' }}
			</em>
			<p class="break-word mb-2">
				{{ comment.text }}
			</p>
		</li>
	</ul>
</div>
<div class="mt-4">
	<form [formGroup]="commentForm" (submit)="save()">
		<div class="input-group">
			<p *ngIf="!allowComments">Os comentários dessa publicação foram desabilitados</p>
			<textarea class="form-control me-3 rounded-2" formControlName="comment" *ngIf="allowComments"  style="resize: none"></textarea>
			<invalid-feedback [field]="f['comment']"></invalid-feedback>
			<div class="input-group-append" *ngIf="allowComments">
				<button type="submit" class="btn btn-primary" [disabled]="commentForm.invalid">Publicar</button>
			</div>
		</div>
	</form>
</div>