<div class="bg-white border" *ngIf="(photo$ | async) as photo">
  <div class="row">
    <div class="col-lg-8">
      <app-photo [url]="photo.url" [description]="photo.description"></app-photo>
    </div>

    <div class="col-lg-4 p-4">
      <small>
        <p class="text-left break-word">{{ photo.description }}</p>
        <div class="d-flex mb-4">
          <a ShowIfLogged (click)="like(photo)" class="ms-2 text-dark"><i class="fa-regular fa-heart fa-xl"></i></a><span class="ms-2">{{photo.likes}}</span>
          <a class="fa-regular fa-comment fa-xl me-2 ms-2"></a>
          <span class="me-auto">{{ photo.comments }}</span>
          <a PhotoOwnerOnly [ownedPhoto]="photo" (click)="remove()"><i class="fa-regular fa-trash-can fa-xl"></i></a>
        </div>
        <hr>
      </small>
      <app-photo-comments [photoId]="photoId" [allowComments]="photo.allowComments"></app-photo-comments>
    </div>
  </div>
</div>