<h4 class="text-center">Login</h4>
<form [formGroup]="loginForm" class="need-validation mt-4" (submit)="login()" autocomplete="off" novalidate>
  <div class="row px-3">
    <div class="col-12 mx-auto">
      <div class="input-group my-2">
        <input #userNameInputs class="form-control rounded-3" placeholder="nome de usuário" formControlName="userName">
        <invalid-feedback [field]="f['userName']"></invalid-feedback>
      </div>
      <div class="input-group my-2">
        <input type="password" class="form-control rounded-3" placeholder="senha" formControlName="password">
        <invalid-feedback [field]="f['password']"></invalid-feedback>
      </div>
      <div></div>
      <div class="input-group mb-2">
        <button type="submit" class="btn btn-primary ms-auto">
          Login
        </button>
      </div>
      <p class="text-center">Ainda não é usuário? <a [routerLink]="['signup']">Cadastre-se agora</a></p>
    </div>
  </div>
</form>