<p class="text-center text-muted" *ngIf="!photos.length">
  Desculpe, sua busca não retornou nenhuma foto
</p>
<ol class="list-unstyled">
  <li *ngFor="let cols of rows" class="row">
    <div class="col-4" *ngFor="let photo of cols" appDarkenOnHover>
      <app-card>
        <app-photo [url]="photo.url" [description]="photo.description">
        </app-photo>
        <div class="row">
          <div class="col-12">
            <i aria-hidden="true" class="fa-regular fa-heart"></i>
            <small class="me-2">
              {{ photo.likes }}
            </small>
            <i aria-hidden="true" class="fa-regular fa-comment"></i>
            <small class="me-2">
              {{ photo.comments }}
            </small>
          </div>

        </div>
      </app-card>
    </div>
  </li>
</ol>